@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --red: #E5704B;
  --red-darker: #cf5029;
  --grey: #333333;
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  margin-top: 60px;
}
.about-info__list{
  padding-left: 0;
  padding-top: 10px;
}

.about-info__list-item{
  list-style-type: none;
  padding: 6px 0;
}

.about-info__heading{
  font-size: 50px;
  font-weight: 800;
}

.primary-btn{
  background: var(--red) !important;
  border-color: var(--red-darker) !important;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: 0 0 0 .25rem rgba(229, 112, 75, .5) !important;
}
.edu-block__item{
  background-color: var(--red) !important;
}
.work-block__item{
  background-color: var(--grey) !important;
}
.form-control{
  background-color: var(--grey) !important;
  border: transparent !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 0.777rem .75em !important;
}
.form-control:focus{
  box-shadow: none !important;
}